.btn{
	margin-right: 5px;
}
.navbar{
	margin-bottom: 30px;
}
.markedAsDone,
.markedAsAvaliable td{
	text-decoration: line-through;
	color: #777;
}
.tableActions{
	width: 205px;
}
.form-select{
	text-align: right;
}
.form-select select{
	display: inline-block;
	width: 80%;
}
.todoForm{
	padding-bottom: 0px;
	margin-bottom: 15px;
}
.actions-btns{
	text-align: right;
	padding: 0
}
.name-input{
	padding-right: 7px;	
}